<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%=home_path%>">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="<%=team_path%>">Equipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%=contact_path%>">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<h3><%= @gossip.title %></h3>
<%= link_to @gossip.user.first_name, user_path(@gossip.user.id)%>
<p> Description de l'auteur : <%= @gossip.user.description %></p>
<p> Contenu du potin : <%= @gossip.content %></p>
<p> Date de création : <%= @gossip.created_at %></p>